:root {
    --font-family: "Montserrat", sans-serif;
    --background-color: #ffffffff;
    --current-color: #000000ff;
    --secondary-color: #c4c4c4ff;
    --container-width: 1366px;
    --container-padding-x: 51px;
}