.containerInput {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    height: 56px;
    border: 1px solid  #F1F1F1;
    max-height: 58px;
    box-sizing: border-box;
    width: 100%;

    
    &:hover {
        border: 1px solid var(--current-color)
    }


    & label {
        color: rgba(17, 17, 17, 0.48);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    & input {
        border: none;
        background-color: transparent;
        margin-bottom: 6px;
        &:focus {
            outline: none;
            border-bottom: 1px solid  var(--secondary-color);
        }
    }
}