.footer {
    display: flex;
    position: absolute;
    left:0px;
    bottom:0px;
    width:100%;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    box-shadow: 0px 1px 0px 0px rgba(17, 17, 17, 0.10);
    padding-block: 30px;
    &__copyright {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}