.preview__wrapper {
    color:  #111;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: auto;
    gap: 20px;
}

.preview__info {
    grid-column: 3 span;
}

.preview__family {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    padding: 10px;  
    border: #111 solid 1px;
    border-radius: 16px;

    &:hover {
        background: #e4e4e4;
    }
}   
.preview__parent {
    row-gap: 20px;

    &-name {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
    }
}

.preview__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.preview__childs {
    row-gap: 20px;
    
    &-name {
        display: flex;
        padding: 10px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        border-radius: 5px;
        background: #F1F1F1;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
    }
}